<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PMCExplainer</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css">
</head>
<style>
    .aigen{
        color:#88c0d0;
    }
</style>
<body>
    <section class="hero is-transparent">
        <div class="hero-body" style="background-color: transparent;">
            <div class="container">
            <h1 class="title">
                PMCExplainer
            </h1>
            <h2 class="subtitle">
                Your assistant for academic literature comprehension.
            </h2>
            </div>
        </div>
    </section>
    <div class="content container">
        {{ content|safe }}
    </div>
</body>
</html>